[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_TELEMETRY_DISABLED = "1"
  NODE_VERSION = "20"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["pg", "@prisma/client"]
  included_files = ["node_modules/.prisma/**", "node_modules/@prisma/client/**"]

[[plugins]]
  package = "@netlify/plugin-nextjs"
